.dear {
  padding-top: 18rem;
  padding-bottom: 18rem;
  color: var(--clr-default-800);

  @media (max-width: em(767)) {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  .section__text {
    margin-top: 3rem;
    margin-bottom: 3rem;

    @media (max-width: em(767)) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    & + .section__title--small {
      margin-top: 6rem;

      @media (max-width: em(767)) {
        margin-top: 3rem;
      }
    }
  }
  &__wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 97rem;
  }
}
