.blogOne {
  padding-top: 18rem;
  padding-bottom: 4rem;

  @media (max-width: em(992)) {
    padding-top: 13rem;
  }

  @media (max-width: em(767)) {
    padding-top: 9rem;
    padding-bottom: 2rem;
  }

  &__wrapper {
    display: flex;
    margin-top: 8rem;
    border-radius: 1.2rem;
    background-color: #f7f7f7;

    @media (max-width: em(992)) {
      margin-top: 4rem;
    }

    @media (max-width: em(767)) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 1rem;
    a {
      font-weight: 700;
      font-size: fluid-font(3.6rem, 2.8rem);
      line-height: 120%;
      letter-spacing: -0.009em;
      color: var(--primary-900);
    }
  }

  .section__title {
    margin-bottom: 1.5rem;
  }

  &__img {
    width: 100%;
    max-width: 57rem;
    img {
      border-top-left-radius: 1.2rem;
      border-bottom-left-radius: 1.2rem;
      height: 100%;
    }
  }

  &__info {
    padding: 3.5rem 3rem;
    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      font-size: 1.4rem;
      line-height: 135%;
      color: #9f9f9f;
    }

    @media (max-width: em(992)) {
      padding: 1.5rem;
    }

    &-count {
      display: flex;
      align-items: center;

      &-img {
        margin-right: 0.5rem;
        max-width: 1.9rem;
      }
    }
  }
}
